<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>User Meeting Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap-theme.min.css" />
</head>
<body>
<div class="container">
    <h1 class="text-center">Welcome to Service</h1>
    <div class="row">
        <div class="col text-center">
            <h2 th:utext="${serviceName}">Service Name</h2>
        </div>
    </div>
</div>
</body>
</html>