[submodule "backend/service-discovery1"]
	path = backend/service-discovery1
	url = https://github.com/michael-steinert-repository/project-work-service-discovery.git
[submodule "backend/service-discovery"]
	path = backend/service-discovery
	url = https://github.com/michael-steinert-repository/project-work-service-discovery.git
[submodule "backend/config-server"]
	path = backend/config-server
	url = https://github.com/michael-steinert-repository/project-work-config-server.git
[submodule "backend/gateway-service"]
	path = backend/gateway-service
	url = https://github.com/michael-steinert-repository/project-work-gateway-service.git
