<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Handle Exception</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap-theme.min.css" />
    </head>
    <body>
        <div class="container">
            <h1 class="text-center">Exception occurred</h1>
            <div class="row">
                <div class="col text-center">
                    <h2>During the Request the Following went wrong</h2>
                    <p th:text="${exception.getMessage()}"></p>
                </div>
            </div>
        </div>
    </body>
</html>
