<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>User-List</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <div class="container">
            <h1 class="text-center">User-List</h1>
            <div class="row">
                <div class="col text-center">
                    <table border="1">
                        <tr>
                            <th>Username</th>
                            <th>Role</th>
                            <th>Token</th>
                            <th>Meeting</th>
                        </tr>
                        <tr th:each="userEntity : ${userEntityList}">
                            <td th:utext="${userEntity.username}">No Value for Username</td>
                            <td th:utext="${userEntity.userRole}">No Value for User Role</td>
                            <td th:utext="${userEntity.authorizationToken}">No Value for Token</td>
                            <td th:utext="${userEntity.userMeetingEntity}">No Value for Meeting</td>
                        </tr>
                    </table>
                    <hr>
                    <a th:href="@{/addUser}">Add User</a><br>
                    <a th:href="@{/addUserMeeting}">Add User-Meeting</a><br>
                    <a th:href="@{/userMeetingList}">Show List of User-Meetings</a><br>
                    <a th:href="@{/index}">Index</a>
                </div>
            </div>
        </div>
    </body>
</html>